node_modules
.env
.env.example
.git
.gitignore
.DS_Store
*.md
Dockerfile
.dockerignore
eslint.config.js
postman_collection_for_api_testing.json
README.md
.babelrc
tests
jest.config.js
tests/setup.js
*.test.js
*.spec.js
